.chat-message.chatgpt{
    background-color: #444654;
  }
  
  .chat-message-center{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  
    padding: 12px;
  
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .message{
    padding-left: 40px;
    padding-right: 40px;
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
  @keyframes blink-caret {
    from, to {
      border-color: transparent
    }
    50% {
      border-color: orange;
    }
  }

  .email:hover{
    cursor: pointer;
  }