.link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  
  .link:hover {
    text-decoration: underline;
  }

  body{
    background-color: #444654;
  }

  .bg-system{
    background-color: #353541;
  }

  .login{
    color: white;
  }